/* Light Mode Styles */
.enter-options-container {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust this to a smaller width if needed */
  box-sizing: border-box;
  margin-left: 0px; /* Reduce or remove margin-left */
  margin-right: auto; /* Ensure it's aligned to the left */
  max-width: 600px; /* You can also change this if needed */
}

.enter-options-container h2 {
  color: #f5f5f5;
  margin-bottom: 10px;
}

.enter-options-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.enter-options-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.enter-options-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enter-options-container button:hover {
  background-color: #0056b3;
}

/* Dark Mode Styles */
.enter-options-container.dark-mode {
  background-color: #a5a4a4;
  color: #fff;
}

.enter-options-container.dark-mode h2 {
  color: #fff;
}

.enter-options-container.dark-mode label {
  color: #ffffff;
}

.enter-options-container.dark-mode input {
  background-color: #ffffff;
  color: #fff;
  border: 1px solid #ffffff;
}

.enter-options-container.dark-mode button {
  background-color: #fcfcfc;
  color: #fff;
}

.enter-options-container.dark-mode button:hover {
  background-color: #ffffff;
}

.enter-options-container input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.enter-options-container button.loading {
  opacity: 0.7;
  cursor: wait;
}