/* EnterOptions.css */
.enter-options-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
  }
  
  .enter-options-container h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .enter-options-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .enter-options-container input {
    width: calc(100% - 130px);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .enter-options-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .enter-options-container button:hover {
    background-color: #0056b3;
  }
  