.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  display: flex;
  flex: 1;
}

.left-side {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.right-side {
  flex: 1;
  padding: 20px;
}

/* Ensure that EnterOptions and SelectionHistory components stack vertically */
.left-side > * {
  margin-bottom: 20px;
}

/* Dark mode styles */
.app-container.dark-mode {
  background-color: #333;
  color: #fff;
}

.app-container.dark-mode input,
.app-container.dark-mode select,
.app-container.dark-mode button {
  background-color: #555;
  color: #fff;
  border: 1px solid #777;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .app-content {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
  }
}