.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.enter-options-container,
.make-selection-container {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  box-sizing: border-box;
}