/* index.css */

body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .app-header {
  background-color: #444;
}

body.dark-mode .enter-options-container,
body.dark-mode .make-selection-container {
  background-color: #555;
  color: #fff;
}

body.dark-mode input {
  background-color: #666;
  color: white;
}

body.dark-mode button {
  background-color: #007bff;
  color: white;
}

body.dark-mode button:hover {
  background-color: #0056b3;
}
